.env
env
.venv
venv/
__pycache__/
*.pyc
instance
.DS_Store
.idea/
.vscode/
*.sqlite3
*.log
coverage
htmlcov/
.tox/
pytest_cache/
.coverage
migrations/
*.egg-info/
dist/
build/
.ipynb_checkpoints/
celerybeat-schedule
*.pem
*.env
.env.local
.env.*.local
.envrc
.env.test
.env.test.local
.env.production
.env.production.local
.env.staging
.env.staging.local
.env.development
.env.development.local
